<% include ./partials/header %>
    
  <div class="panel panel-default col-md-5" id="user-panel">
    <div >
      <h3 class="text-center"><%= reviews[0].userName %>'s Reviews</h3>
    </div>
    <div class="panel-body" id="user_rev">
      <ul class='list-group' style="list-style: none">
         <% for (i=reviews.length-1; i>=0; i--){ %>
           <li class='user_reviews list-group-item'><a href="/guests/<%= reviews[i]['guest_ID']%>"> <%= reviews[i]['guestName'] %> </a> <br>Review: <%= reviews[i]['comment'] %><br> Rating: <%=reviews[i]['ind_rating'] %></li>
          <% } %>
      </ul>
    </div>
  </div>
  <div class="row panel panel-default col-md-3 hidden-600" id="review_panel">
      <form action="/users" method="post">
          <h3 class="review_guest text-center">Review a Guest</h3>
          <div class='well'>
            <fieldset>
                <label for="name">Guest Name</label>
                <input required type="text" id="name" name="name" placeholder="Enter guest's name" />
                <br />
                <label for="email">Guest Email</label>
                <input required type="email" id="email" name="email" placeholder="Enter guest's email" />
                </br></br>
                <input class='submit btn btn-default' type="submit" value="Submit" />
            </fieldset>
          </div>
      </form>
  </div>

<% include ./partials/footer %>